/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Righteous", cursive;
}

#nav-checkbox,
.nav-toggle {
  display: none;
}

header {
  width: 100%;
  background-color: transparent;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
  /* margin-top: -10px;
  margin-bottom: -20px; */
}

header h1 {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  padding-left: 80px;
}

.navbar ul {
  padding-right: 50px;
}

.nav-item li {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 0;
}

.nav-item li a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}

.nav-item li:hover {
  background-color: hsl(0, 0%, 100%, 0.5);
}

.solid {
  background-color: lightpink;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.hero {
  background: linear-gradient(rgba(29, 29, 29, 0.8), rgba(27, 27, 27, 0.6)), url("/assets/bg.jpg") no-repeat fixed bottom / cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-item p {
  color: white;
  font-size: 5rem;
  margin: auto;
}

.content {
  width: 100%;
}

.content-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 620px;
}

.content-item {
  display: block;
  width: 50%;
  height: 100%;
}

.content-item img {
  width: 100%;
  height: 100%;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.item-text {
  width: 50%;
}

.item-text h4 {
  font-size: 2rem;
}

.item-text p {
  color: rgb(114, 114, 114);
}

.item-text h3 {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: hsl(51, 100%, 49%, 0.2);
  text-decoration-thickness: 5px;
}

.item-text h3:hover {
  text-decoration-color: hsl(51, 100%, 49%);
}

.bg1 {
  background: url("/assets/content/content4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg2 {
  background: url("/assets/content/content8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-box {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 440px;
}

.content-text {
  color: white;
  width: 50%;
}

.content-text h4 {
  font-size: 2rem;
  margin-bottom: 0;
}

.client {
  padding-bottom: 230px;
  padding-top: 200px;
}

.client h1 {
  text-align: center;
  font-size: 3rem;
}

.detail {
  display: flex;
}

.client-box {
  width: 500px;
  text-align: center;
  margin: auto;
}

.detail img {
  width: 80px;
  border-radius: 100px;
}

.detail-client p {
  color: rgb(114, 114, 114);
}

.detail-client h3 {
  margin-bottom: -15px;
}

.gallery {
  display: flex;
}

.gallery-item {
  width: 50%;
  height: auto;
  display: block;
}

.gallery-item img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  background-color: lightpink;
  text-align: center;
}

footer .logo {
  color: white;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  padding-top: 1px;
}

.sosmed {
  display: flex;
  justify-content: center;
}

.sosmed ul {
  padding-right: 40px;
}

.sosmed li {
  margin: 15px;
  display: inline-block;
}

.sosmed li:hover {
  fill: lightpink;
}

.attribution {
  background-color: white;
  margin-top: -21px;
  margin-bottom: -20px;
}

.attribution p {
  text-align: center;
  font-size: 0.9rem;
}

.attribution span {
  color: blue;
  cursor: pointer;
}

.attribution span:hover {
  color: lightpink;
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
    background: lightpink;
  }

  .logo {
    margin-left: -25px;
  }

  /* HUMBURGER & CLOSE MENU */
  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    top: 25px;
    right: 0;
  }

  .nav-toggle img {
    width: 35px;
  }

  .close,
  input[type="checkbox"] {
    display: none;
  }

  #nav-checkbox:checked ~ .nav-item {
    background: lightpink;
    text-align: center;
  }

  .nav-item li {
    display: none;
  }

  #nav-checkbox:checked ~ ul.nav-item li {
    display: block;
  }

  #nav-checkbox:checked ~ label.nav-toggle .open {
    display: none;
  }

  #nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
  }
  /* HUMBURGER & CLOSE MENU END*/

  .hero {
    height: 70vh;
  }

  .hero-item p {
    font-size: 3.5rem;
  }

  .item-box {
    height: 50%;
  }

  .item-text {
    width: 70%;
    margin: auto;
    margin-bottom: -130px;
  }

  .item-text h4 {
    font-size: 1.5rem;
  }

  .item-text p {
    font-size: 0.8rem;
  }

  .item-text h3 {
    font-size: 1rem;
  }

  .content-flex {
    height: 400px;
  }

  .content-box {
    padding-top: 250px;
  }

  .content-box h4 {
    font-size: 1.5rem;
  }

  .content-box p {
    font-size: 0.8rem;
  }

  .content-text {
    width: 80%;
  }

  .client {
    padding-bottom: 100px;
    padding-top: 60px;
  }

  .detail {
    display: flex;
    flex-wrap: wrap;
  }

  .client-box {
    width: 65%;
  }

  .sosmed ul {
    padding-right: 65px;
  }
}
